{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block style %}
    <style>
        form {
            max-width: 330px;
            margin: auto;
        }
        .error-message {
            color: red;
            margin-bottom: 15px;
        }
        .logged-in-message {
            margin-bottom: 15px;
        }
        h1 {
            font-size: 24px;
            margin-bottom: 15px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }
        .checkbox {
            margin-bottom: 15px;
        }
        button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="logged-in-message">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1>Please sign in</h1>
        <label for="inputUsername">Username</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" autocomplete="username" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>

        <button type="submit">Sign in</button>
    </form>
{% endblock %}